/FMemory/obj
/FMemory/bin/Release/net472
/.vs/FMemory/v16/*.suo
/FMemory/bin/Release/*.nupkg
/.vs
/FMemory.Interfaces/bin
/FMemory.Interfaces/obj
/FMemory/bin
/FMemory/obj
/FMemory.Tests/bin
/FMemory.Tests/obj